.nav, .pagination, .carousel, .panel-title a, a[ng-click] {
    cursor: pointer;
}

.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 38px;
    line-height: 38px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 38px;
    margin-top: 10px;
}

.sprint, .backlog, .board .lane {
    min-height: 50px;
    margin: 10px;
    padding: 6px;
    background-color: #ddd;
    border: 1px solid #e7e7e7;
}

.sprint, .backlog {
    width: calc(100% - 20px);
}

.board {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}

.board .lane-title {
    font-weight: bold;
    text-align: center;
}

.sprint.over, .backlog.over, .board .lane .task-container.over {
    background-color: #eee;
}

.board .lane .task-container, .board .lane .task, .sprint .task, .backlog .task {
    background-color: white;
    height: 50px;
}

.board .lane .task, .sprint .task, .backlog .task {
    padding: 6px;
    border: 1px solid #999;
    color: #777;
    overflow: hidden;
}

.board .lane .task-container, .sprint .task, .backlog .task {
    margin: 6px;
    background-color: white;
}

.board .lane .task:hover, .sprint .task:hover, .backlog .task:hover {
    cursor: move;
}