.splash {
    text-align: center;
    margin: 10% 0 0 0;
    box-sizing: border-box;
}

.splash .message {
    font-size: 38px;
    line-height: 38px;
    text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.splash .fa-spinner {
    text-align: center;
    display: inline-block;
    font-size: 38px;
    margin-top: 10px;
}

.sprint, .backlog, .board .lane {
    min-height: 50px;
    margin: 10px;
    padding: 6px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.sprint, .backlog {
    width: 900px;
}

.board {
    clear: both;
}

.board .lane {
    width: 250px;
    float: left;
}

.sprint.over, .backlog.over, .board .lane.over {
    background-color: #f1f1f1;
}

.board .lane .task-container, .board .lane .task, .sprint .task, .backlog .task {
    background-color: white;
    height: 50px;
}

.board .lane .task, .sprint .task, .backlog .task {
    padding: 6px;
    border: 1px solid #999;
    color: #777;
}

.board .lane .task-container, .sprint .task, .backlog .task {
    margin: 6px;
    background-color: white;
}

.board .lane .task:hover, .sprint .task:hover, .backlog .task:hover {
    cursor: move;
}