<div ng-repeat="sprint in getSprints()">
    <h3>{{sprint.title}}</h3>

    <div sprint-actions></div>
    <div id="{{sprint.id}}" class="sprint" dragula="'droppable'" dragula-scope="$parent">
        <div ng-repeat="sprintTask in getTasksOfSprint(sprint.id)"
             ng-bind="sprintTask.title"
             title="{{sprintTask.title}}"
             id="{{sprintTask.id}}"
             class="task"></div>
    </div>
</div>

<h3>Backlog</h3>
<div sprint-actions></div>
<div class="backlog" dragula="'droppable'">
    <div ng-repeat="backlogTask in getTasksOfBacklog()"
         ng-bind="backlogTask.title"
         title="{{backlogTask.title}}"
         id="{{backlogTask.id}}"
         class="task"></div>
</div>